/* Dropdown Button */
/*333333 *//*
.navbar {
    background-color: #371c3c !important;
    color: #9D9D9D !important;
    border: none;
}



.resumebody {
    background-color: #493a48 !important;
    color: #FFFFFF;
*/