/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'fanwood-webfont';
    src: url('../fonts/fanwood-webfont.woff') format('woff'), url('../fonts/fanwood_italic-webfont.woff') format('woff'), url('../fonts/fanwood_text-webfont.woff') format('woff'), url('../fonts/fanwood_text_italic-webfont.woff') format('woff');
}

body {
    font-family: 'fanwood-webfont';
}

.maindisplay {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.pageframe {
   
    background-image: linear-gradient(to bottom,#4c7496, #3e4a55);
}
/*background-image: linear-gradient(to bottom,#4c7496, #9967b4);*/
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.saymyname {
    font-family: 'fanwood-webfont';
    font-size: 36px !important;
    /* color: #371c3c !important;*/
    color: #ffffff;
    padding: 10px 0px 0px 5px;
}
.subtitle {
    font-family: Arial;
    font-size: 48px;
    color: #ffffff;
}

.domaintitle {
    font-family: 'fanwood-webfont';
    font-size: 30px;
    font-style: italic;
    color: #ffffff;
}

.message {
    font-size: 20px;
    color: #ffffff;
}
.submessage {
    font-size: 20px;
    color: #ffffff;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #4c7496; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none !important;
        text-decoration-line: none !important;
        font-size: 25px !important;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #0094ff;
            text-decoration: none;
            text-emphasis-style: sesame;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #0094ff !important;
    }




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*  @media screen and (max-height: 450px) {*/
/*
@media screen and (max-height: 100%) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
    */
    